*{
	margin: 0;
	padding: 0;
	

}

.table-box
{
	margin: 225px auto;
}

.table-row
{
	display: table;
	width: 50%;
	margin: 0px auto;
	font-family: sans-serif;
	background: transparent;
	padding: 1px 0;
	color: #fff;
	font-size: 15px;
	box-shadow: 0 1px 4px 0 rgba(0,0,50,0.3);
	vertical-align: left;
	border:1px solid white;
}

.table-cell
{
	display: table-cell;
	width: 30%;
	text-align: center;
	padding: 4px 0;
	border-right: 1px solid #fff;
	vertical-align: left;
	border:1px solid white;
}

.table-head
{
	background: #8665f7;
	box-shadow: none;
	color: #fff;
	font-weight: 600;
}

.table-head .table-cell
{
	border-right: none;
	border-left: none;
	border: 1px solid white;
}

